/* === theme scss (index 01) === */
html {
  --container-max-widths: 1320px;

  @media #{$xl} {
    --container-max-widths: 1140px;
  }

  @media #{$lg} {
    --container-max-widths: 960px;
  }

  @media #{$md} {
    --container-max-widths: 720px;
  }

  @media #{$sm} {
    --container-max-widths: 540px;
  }
}

.body-wrapper {
  background-color: var(--white);

  &.dark {
    background-color: var(--black);
  }
}

.img_anim_reveal {
  visibility: hidden;
  overflow: hidden;

  img {
    object-fit: cover;
    transform-origin: left;
  }
}

.anim-reveal {
  overflow: hidden;
}

.anim-reveal-line {
  overflow: hidden;
}

.color {
  &-white {
    color: var(--white);
  }

  &-black {
    color: var(--black);
  }

  &-primary {
    color: var(--primary);
  }

  &-secondary {
    color: var(--secondary);
  }
}

.gray-bg {
  background-color: var(--bg);
}


/* === BG Color scss (index 02) === */
.theme-bg {

  &-white {
    background-color: var(--white);
  }

  &-black {
    background-color: var(--black);

    @include dark {
      background-color: #171717;
    }
  }

  &-primary {
    background-color: var(--primary);
  }

  &-secondary {
    background-color: var(--secondary);
  }

  &-transparent {
    background-color: transparent;
  }

  &-theme {
    background-color: var(--theme);
  }
}

/* === Z-index scss (index 03) === */
.zi {
  &-1 {
    z-index: 1;
  }

  &-2 {
    z-index: 2;
  }

  &-9 {
    z-index: 9;
  }

  &-0 {
    z-index: 0;
  }

  &--1 {
    z-index: -1;
  }
}

/* === Text Border scss (index 04) === */
.text-underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-skip-ink: none;
}

.vertically-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* === Text Indent scss (index 05) === */
.text-indent {
  &-40 {
    text-indent: 40px;
  }

  &-50 {
    text-indent: 50px;
  }
}

header {
  margin-bottom: -1px;
  z-index: 100;
}

section {
  margin-bottom: -1px;
}

.mb--1 {
  margin-bottom: -1px;
}

.dir-rtl {
  direction: rtl;
}

.show-light {
  display: inline-block;

  @include dark {
    display: none;
  }
}

.show-dark {
  display: none;

  @include dark {
    display: inline-block;
  }
}

.line-divider-sm {
  height: 0.5px;
  background-color: var(--black-9);
}





.background-image {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.border-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.section-spacing {
  padding-bottom: 130px;
  padding-top: 130px;

  @media #{$xxl} {
    padding-bottom: 90px;
    padding-top: 90px;
  }

  @media #{$xl} {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  @media #{$lg} {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.section-spacing-120 {
  padding-bottom: 120px;
  padding-top: 120px;

  @media #{$xxl} {
    padding-bottom: 90px;
    padding-top: 90px;
  }

  @media #{$xl} {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  @media #{$lg} {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.section-spacing-top-120 {
  padding-top: 120px;

  @media #{$xxl} {
    padding-top: 90px;
  }

  @media #{$xl} {
    padding-top: 80px;
  }

  @media #{$lg} {
    padding-top: 60px;
  }
}

.section-spacing-top {
  padding-top: 130px;

  @media #{$xxl} {
    padding-top: 90px;
  }

  @media #{$xl} {
    padding-top: 80px;
  }

  @media #{$lg} {
    padding-top: 60px;
  }
}

.section-spacing-bottom {
  padding-bottom: 130px;

  @media #{$xxl} {
    padding-bottom: 90px;
  }

  @media #{$xl} {
    padding-bottom: 80px;
  }

  @media #{$lg} {
    padding-bottom: 60px;
  }
}

.background-image {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.border-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.section-bg {
  background-color: #f0f2f4;
}

.ml-107 {
  margin-left: 107px;

  @media #{$xl} {
    margin-left: 70px;
  }

  @media #{$md} {
    margin-left: 0px;
  }
}

.inner-page__title {
  font-family: var(--font_thunder);
  font-weight: 700;
  font-size: 420px;
  line-height: 400px;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
  color: $color-black;
  padding-bottom: 40px;

  @media #{$xxl} {
    font-size: 320px;
    line-height: 1;
  }

  @media #{$xl} {
    font-size: 300px;
  }

  @media #{$lg} {
    font-size: 200px;
  }

  @media #{$md} {
    font-size: 180px;
  }

  @media #{$sm} {
    font-size: 150px;
  }

  @media #{$xs} {
    font-size: 70px;
  }
}

.rr-bg-gray {
  background: $color-gray3;
}

.nice-select:after {
  display: none !important;
}