@import "utils/index";
@import "components/index";

/* === pages scss (index 01) === */
@import "pages/about-us";
@import "pages/home-1";
@import "pages/home-3";
@import "pages/home-2";
@import "pages/home-4";
@import "pages/blog-details";
@import "pages/blog";
@import "pages/cart";
@import "pages/checkout";
@import "pages/contact";
@import "pages/shop";
@import "pages/shop-details";
@import "pages/main-sidebar";
@import "pages/card";
@import "pages/error";
@import "pages/sing-in";
@import "pages/service-details";