.section-title-3 {
    &__wrapper {
        position: relative;
        z-index: 2;

        .sub-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 26px;
            margin-bottom: 16px;
            color: var(--primary);
            letter-spacing: 0.5px;

            @media #{$xs} {
                font-size: 16px;

                img {
                    display: none;
                }
            }

            .left-shape {
                margin-right: 12px;
            }

            .right-shape {
                margin-left: 12px;
            }
        }

        .title {
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            margin-bottom: 24px;
            letter-spacing: 0.5px;

            @media #{$lg} {
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 15px;
            }

            @media #{$sm} {
                font-size: 35px;
                line-height: 45px;
            }

            @media #{$xs} {
                font-size: 30px;
                line-height: 40px;
            }
        }

        .desc {
            font-size: 16px;
            font-weight: 400;
            max-width: 628px;
            line-height: 24px;
        }

        .rr-btn-green {
            &.has--drk-gren {
                background: #173401;

                .btn-wrap {
                    .text-one {
                        color: var(--white);
                    }
                }
            }
        }
    }
}

.section-title-4 {
    &__wrapper {
        margin-bottom: 48px;

        @media #{$lg} {
            margin-bottom: 35px;
        }

        @media #{$sm} {
            margin-bottom: 30px;
        }

        .sub-title {
            margin-bottom: 8px;
            color: var(--primary4);
        }

        .title {
            margin-bottom: 0px;
        }
    }
}

.section-title-5 {
    &__wrapper {
        margin-bottom: 48px;

        @media #{$lg} {
            margin-bottom: 35px;
        }

        @media #{$sm} {
            margin-bottom: 30px;
        }

        .sub-title {
            margin-bottom: 8px;
            color: var(--primary5);
        }

        .title {
            margin-bottom: 0px;
        }
    }
}