.main-sideber {

  .single-sidebar-widget {
    padding: 40px 35px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: var(--gray-three);

    @media #{$lg} {
      padding: 30px 20px;
    }

    .wid-title {
      margin-bottom: 20px;
    }

    .search-widget {
      form {
        width: 100%;
        position: relative;

        input {
          background-color: var(--white);
          font-size: 18px;
          font-weight: 400;
          padding: 16px 20px;
          padding-right: 70px;
          width: 100%;
          border-radius: 10px;
          border: none;
          outline: none;
          color: var(--primary);
        }

        button {
          position: absolute;
          right: -2px;
          top: 0;
          width: 58px;
          font-size: 18px;
          height: 100%;
          border-radius: 0px 10px 10px 0px;
          background-color: var(--primary);
          color: var(--white);
          text-align: center;
          transition: all .3s ease-in-out;

          &:hover {
            background-color: var(--red);
          }
        }
      }
    }

    .news-widget-categories {
      ul {
        li {
          @include flex;
          justify-content: space-between;
          font-size: 18px;
          font-weight: 400;
          background-color: var(--white);
          @include transition;
          border-radius: 10px;
          overflow: hidden;
          line-height: 1;
          padding: 20px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background: var(--primary);
            z-index: 0;
            transition: width 0.5s ease;
          }


          a {
            color: var(--black);
          }

          span {
            @include transition;
            color: var(--black);
          }

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          &:hover {
            &::before {
              width: 100%;

            }

            a {
              color: var(--white);
              position: relative;
              z-index: 999;
            }

            span {
              color: var(--white);
              position: relative;
              z-index: 999;
            }
          }
        }
      }
    }

    .recent-post-area {

      .recent-items {
        @include flex;
        gap: 20px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        @media #{$xs} {
          flex-wrap: wrap;
        }

        .recent-thumb {
          width: 90px;
          height: 90px;
          min-width: 90px;
          overflow: hidden;
          border-radius: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .recent-content {

          h3 {
            margin-bottom: 10px;
            font-size: 22px;
            line-height: 28px;

            @media #{$lg} {
              font-size: 18px;
              line-height: 20px;
            }

            a {
              &:hover {
                color: var(--primary);
              }
            }
          }

          ul {
            list-style: none;

            li {
              color: var(--primary);
            }
          }
        }
      }
    }

    .tagcloud {
      a {
        display: inline-block;
        padding: 12px 20px;
        line-height: 1;
        font-size: 16px;
        font-weight: 400;
        background: transparent;
        margin-right: 5px;
        overflow: hidden;
        text-transform: capitalize;
        margin-bottom: 10px;
        border-radius: 500px;
        color: var(--black);
        background: var(--white);
        @include transition;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background: var(--primary);
          z-index: 0;
          transition: width 0.5s ease;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: var(--white);
          z-index: 999;
          position: relative;
          border-color: transparent;

          &::before {
            width: 100%;
            z-index: -1;
          }
        }
      }
    }
  }
}